@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.container{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
#othersMessage{
    display: flex;
    align-self: flex-start;
    flex-direction: row;
    gap: 10px;
    background-color: #F2A7BB;
    max-width: 70vw;
    padding: 15px 20px;
    border-radius: 50px 10px 30px 50px;
    font-family: 'Macondo', cursive;
    font-size: 32px;;
}

#ownMessage{
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    gap: 10px;
    background-color: #CDC1D9;
    max-width: 70vw;
    padding: 15px 20px;
    border-radius: 50px 10px 30px 50px;
    font-family: 'Macondo', cursive;
    font-size: 32px;;
}

.displayName{
    color: #BF046B;
}

.message{
    color: #212126;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profilePic{
    height: 60px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 1px 3px 10px 4px  #2121267a;
}

.displayNameContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.badgesContainer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}